<%- include('layoutT.ejs'); %>
<div class="container">
  <h1 style="text-align:center">Welcome to webpage for Človek ne jezi se</p>
    <img src="/images/welcome.jpg" class="img-fluid" style="max-width: 75%;" alt="Hi!">
</div>
<%- include('layoutB.ejs'); %>